:root {
  --white: #ffffff;
  --text-primary-default: #2d2d2d;
  --layoutBg: #f3f8ff;
  --primary-header: #2196f3;
  --activeMenu: #1e88e5;
  --White-Medium-Emphasis: rgba(255, 255, 255, 0.7);

  --hover: #df4c25;
  --buttonColor: #ec7243;
  --button-disable: #e8c0ab;
  --logo: #666b66ff;
  --itemBg: #f6f6f6ff;
  --btnBg: #adb0a7ff;
  --btnText: #fcfcfc;
}
